
# 阿里云 API（ASR/TTS 备选方案）
ALIBABA_API_KEY=sk-edbe1b32b2cd4b998a18addf90a293c0

# 阿里云可用模型
# ASR 模型
# - fun-asr-mtl
# - fun-asr-2025-11-07
# - fun-asr-realtime-2025-09-15
# - fun-asr-2025-08-25
# - qwen3-asr-flash
# - qwen3-asr-flash-2025-09-08

# TTS 模型
# - qwen-tts-2025-05-22
# - qwen-tts-realtime-latest
# - qwen3-tts-instruct-flash
# - qwen3-tts-vd-2026-01-26
# - qwen3-tts-vd-realtime-2026-01-15

# 阿里云百炼平台文档
# https://bailian.console.aliyun.com/cn-beijing?tab=doc#/doc/?type=model&url=2842554
